@page "/searchTest"

<div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Type name to search"
           @bind-value="InventoryNameSearch" />
    <button type="button"
            class="btn-success input-group-text"
            @onclick="OnSearchValue">
        Search
    </button>

</div>



@code {

    private string InventoryNameSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void OnSearchValue()
    {
        OnSearch.InvokeAsync(InventoryNameSearch);
    }


}
