@page "/pages/editpage"
@page "/pages/editpage/{Id:int}"
@using Project_Models

@*<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">Edit Data Page</h3>
</div>

<EditForm Model="@Data">

</EditForm>*@


@code 
{
    //[Parameter]
    //public int Id { get; set; }

    //public DataDetails Data { get; set; } = new DataDetails();

    //List<DeviceTypeOptions> DeviceOptions = new List<DeviceTypeOptions>()
    //{
    //    new DeviceTypeOptions() { OptionName = "Select...", OptionValue = " " },
    //    new DeviceTypeOptions() { OptionName = "Laptop/Desktop", OptionValue = "1" },
    //    new DeviceTypeOptions() { OptionName = "Misc", OptionValue = "2" },
    //    new DeviceTypeOptions() { OptionName = "Mobile Phone", OptionValue = "3" },
    //    new DeviceTypeOptions() { OptionName = "Monitor", OptionValue = "4" },
    //    new DeviceTypeOptions() {  OptionName = "Polycom", OptionValue = "5" },
    //    new DeviceTypeOptions() {  OptionName = "Printer", OptionValue = "6" },
    //    new DeviceTypeOptions() {  OptionName = "Server", OptionValue = "7" },
    //};

}
